@import url('https://fonts.googleapis.com/css?family=Kavivanar|Mina:400,700');

body {
background-color: #f2f2f2;
color: #555;

-webkit-font-smoothing: antialiased;
-webkit-overflow-scrolling: touch;



}

h1 {
	font-family: 'Rammetto One', cursive;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black; 'Добавляет тень для текста'
}

#text {
	font-family: 'Mina', sans-serif;
	font-weight: 500;
	font-size: 100%;
	line-height: 2;// Устанавливает межстрочный интервал
	letter-spacing: 1px;//Определяет интервал между символами в пределах элемента
}


#socset {
	text-align: center;
	font-size: 25px;
	
}
